Debug/
Release/
*.ncb
*.plg
*.aps
*.opt
*.project
CVS/
target/
install.bat
test.bat
getinstall.bat
pom_feature_cover.xml
/sources/cpp/operator/*.zip
vs12_optool_proxy*.zip
*.vcxproj.user
ipch/
*.suo
*.sdf
sources/cpp/operator/Operator.opensdf
sh.exe.stackdump
*.tlh
*.tli
gate_app/UpgradeLog.htm
gate_app/Backup*/gate.sln
gate_app/UpgradeLog*.htm
gate_app/Backup*/
gate_app/gate.opensdf